<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2024 William Robert</p>
<p id="nbCli" class="text-center text-muted"></p>
<p id="servDate" class="text-center text-muted"></p>
<p id="clientDate" class="text-center text-muted"></p>