<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2024 William Robert</p>
<p id="nbCli" class="text-center text-muted"></p>
<p id="servDate" class="text-center text-muted"></p>
<p id="clientDate" class="text-center text-muted"></p>
<p id="realTime" class="text-center text-muted"></p>
<form onsubmit="return false;" class="text-center text-muted">
    Entrez ici l'heure d'alarme désirée :
    <input type="time" id="alarme" />
    <input type="submit" value="Enregistrer" id="poke" />

</form>