<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8080');
    socket.on('message', function (message) {
        document.getElementById('nbCli').innerHTML = 'Client #' + message.nbClient;
        document.getElementById('servDate').innerHTML = 'Le serveur a été lancé le ' + message.servDate;
        document.getElementById('clientDate').innerHTML = 'Le client a été lancé le ' + message.clientDate;
    });
</script>



<style>
    body {
        padding-top: 50px;
    }
</style>