<!-- views/pages/contact.ejs -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <p>Me contacter : <a href="mailto:billgates@hotmail.com">billgates@hotmail.com</a></p>
            <br /><a href="/">Retour à l'accueil</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>